.table-view .column-header-background .label{
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: lightblue;
}

.table-view .filler {
    -fx-background-color: lightblue;
}

.table-view .column-header-background {
    -fx-background-color: lightblue;
}

.table-view {
    -fx-table-header-border-color: lightblue;
}

.table-view .column-header-background .filler {
    -fx-background-color: lightblue;
}

.table-view {
    -fx-border-color: transparent;
}