#loginButton {
    -fx-background-color: #44b1cc;
}

#loginButton:hover {
    -fx-background-color: #3a99b0!important;
}

#forgotPasswordButton {
    -fx-background-color: #44b1cc;
}

#forgotPasswordButton:hover {
    -fx-background-color: #3a99b0!important;
}

#backgroundLogin {
    -fx-background-color: transparent;
}

#loginTextfield {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 -0.5 -1;
}

#loginTextfield:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 0 -1;
}